<meta charset="UTF-8">
<title>Friend Finder</title>

<!-- CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
	body 	{ padding-top:50px; }
	.form-group{
		float: left;
		float: none;
		width: 100px;
	}
	a{
		color: white;
	}
	.well{
		float: left;
		float: none;
	}
</style>