<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<h1>Welcome to Friend Finder</h1>
			
				<div class="form-group ">
					<button type="submit" class="btn btn-primary btn-lg btn-block login-button"><a href="/survey">Next</a></button>
				</div>

		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>