<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<h1>This is great</h1>
			<p>Here is your new Friend!!!</p>
			<div class="match">
				<img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/17/13/campaign_images/buzzfeed-prod-web06/17-reasons-australian-shepherds-are-the-worlds-be-2-29679-1479406891-0_dblbig.jpg" alt="shepard">
			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>